   @{
    ViewBag.Title = "O nas";
}

<h2>@ViewBag.Title</h2>
<div class="about">
<p> Nasz cel był od początku jeden : stworzyć miejsce z klimatem i pasją, gdzie Klient może oderwać się od codzienności. Wstępując w progi restauracji uderza nas nowoczesny i elegancki wystrój wnętrza. Serwowane u nas prawdziwe dania, rozpalają zmysły i zachęcają do podroży po raju kulinarnych rozkoszy. Sezonowy ogródek, oświetlony blaskiem świec, stanowi idealne miejsce na romantyczną kolację.</p>

    <img src="~/Image/sala.jpg" />
 </div>