@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Restauracja<br />
    Pacanów 28-133 Pacanów<br />
    Telefon:<br/>
    123456789
</address>
<div class="img-responsive">
    <img src="~/Image/sala.jpg" /></div>

